// IMPORTS
/* Reset */
@import "./base/base";
@import "./layout/header.scss";
@import "./layout/banners";
@import "./layout/interface";
@import "./layout/brands";
@import "./layout/gears";
@import "./layout/footer";
@import "./layout/razer";
@import "./layout/logitech";
@import "./layout/corsair";
@import "./layout/redragon";







/* LA VERSIÓN ANTERIOR ESTÁ HECHA PARA PANTALLAS DESDE 320px. 
DE AHORA EN ADELANTE EMPIEZO A ADAPTAR LA PÁGINA PARA OTROS TAMAÑOS */

/* MEDIA QUERY: DISPOSITIVOS & CELULARES PEQUEÑOS */
@media (min-width: 426px) and (max-width: 582px) 
{
/* HEADER Y ZONA NAVEGABLE */
header 
{font-size: 18px;
margin: 13px 8px;}
.logo {width: 50px;}
.grid-header-items-3 {width: 40px;}

/* BANNER DE ENTRADA */
.banner-1    
{font-size: 17px;}

/* INTERFAZ DE INICIO y VIDEO BACKGROUND */
h1 {font-size: 27px;}
.slogan {font-size: 21px;}
.shopnow 
{color: white;
font-size: 27px;}

/* BANNER DE ENTRADA A LAS MARCAS */
.banner-2    
{font-size: 17px;}

/* NAVEGADOR DE LAS MARCAS ASOCIADAS */
.main-brands    
{border-bottom: 7px solid #020C9F;}
.brands 
{height: 100px;
width: 100px;
padding: 14px 14px;}

/* BANNER DE ENTRADA A LOS PERIFÉRICOS */
.banner-3        
{font-size: 17px;}

/* SECCIÓN DE PERIFÉRICOS */
.gears-conteiner img 
{width: 100%;
height: 35px;
transition: transform 0.3s ease}

.gears-conteiner a      
{margin: 2px 6px;
font-size: 12px;}
}




/*MEDIA QUERY: CELULARES MEDIANOS & TABLETS*/
@media (min-width: 583px) and (max-width: 768px) 
{
/* HEADER Y ZONA NAVEGABLE */
header 
{font-size: 20px;
margin: 13px 8px;}
.logo {width: 65px;}
.grid-header-items-3 {width: 40px;}

/* BANNER DE ENTRADA */
.banner-1    
{font-size: 18px;}

/* INTERFAZ DE INICIO y VIDEO BACKGROUND */
h1 {font-size: 30px;}
.slogan {font-size: 24px;}
.shopnow 
{color: white;
font-size: 30px;}

/* BANNER DE ENTRADA A LAS MARCAS */
.banner-2    
{font-size: 18px;}

/* NAVEGADOR DE LAS MARCAS ASOCIADAS */
.brands 
{height: 120px;
width: 120px;
padding: 20px 20px;}

/* BANNER DE ENTRADA A LOS PERIFÉRICOS */
.banner-3        
{font-size: 18px;}

/* SECCIÓN DE PERIFÉRICOS */
.gears-conteiner img 
{width: 100%;
height: 37px;
transition: transform 0.3s ease}

.gears-conteiner a      
{margin: 2px 10px;
font-size: 13px;}
}




/*MEDIA QUERY: TABLETS*/
@media (min-width: 769px) and (max-width: 1023px) 
{
/* HEADER Y ZONA NAVEGABLE */
header 
{font-size: 20px;
margin: 13px 15px;}
.logo {width: 75px;}
.grid-header-items-3 {width: 42px;}

/* BANNER DE ENTRADA */
.banner-1    
{font-size: 20px;}

/* INTERFAZ DE INICIO y VIDEO BACKGROUND */
h1 {font-size: 35px;}
.slogan {font-size: 29px;}
.shopnow 
{color: white;
font-size: 35px;}

/* BANNER DE ENTRADA A LAS MARCAS */
.banner-2    
{font-size: 20px;}

/* NAVEGADOR DE LAS MARCAS ASOCIADAS */
.brands 
{height: 140px;
width: 140px;
padding: 20px 20px;}

/* BANNER DE ENTRADA A LOS PERIFÉRICOS */
.banner-3        
{font-size: 20px;}

/* SECCIÓN DE PERIFÉRICOS */
.gears-conteiner img 
{width: 100%;
height: 45px;
transition: transform 0.3s ease}

.gears-conteiner a      
{margin: 2px 10px;
font-size: 15px;}


/* FOOTER */
footer 
{display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 2;}


.cuadrante-1 
{grid-column: 1/2;
grid-row: 1/2;}
.grid-footer-items-1-a
{font-size: 14px;}
footer .grid-footer-items-1-b span 
{font-size: 11px;}
footer .grid-footer-items-1-c span 
{font-size: 15px;}


.cuadrante-2 
{grid-column: 2/3;
grid-row: 1/2;}
.footer-icons-2
{padding: 3px;}


.cuadrante-3
{grid-column: 3/4;
grid-row: 1/2;}
.footer-icons-3
{padding: 3px;}

.cuadrante-4
{grid-column: 4/5;
grid-row: 1/2;
display: flex;
align-items: center;
justify-content: center;}
.grid-footer-items-4 a img
{width: 75px;}

.cuadrante-5
{grid-column: 1/5;
grid-row: 3/4;}
.footer-icons-5-copyright
{font-size: 12px;}
.footer-icons-5-powered
{font-size: 12px;}
}



/*MEDIA QUERY: PC*/
@media (min-width: 1024px) 
{
/* HEADER Y ZONA NAVEGABLE */
header 
{font-size: 25px;
margin: 13px 15px;}
.logo {width: 90px;}
.grid-header-items-3 {width: 45px;}

/* BANNER DE ENTRADA */
.banner-1    
{font-size: 22px;}

/* INTERFAZ DE INICIO y VIDEO BACKGROUND */
h1 
{font-size: 45px;
padding-bottom: 20px;}
.slogan 
{font-size: 40px;
padding-bottom: 20px;}
.shopnow 
{color: white;
font-size: 45px;
padding-top: 20px;}

/* BANNER DE ENTRADA A LAS MARCAS */
.banner-2    
{font-size: 22px;}

/* NAVEGADOR DE LAS MARCAS ASOCIADAS */
.brands 
{height: 180px;
width: 180px;
padding: 30px 30px;}

/* BANNER DE ENTRADA A LOS PERIFÉRICOS */
.banner-3        
{font-size: 22px;}

/* SECCIÓN DE PERIFÉRICOS */
.gears-conteiner img 
{width: 100%;
height: 55px;
transition: transform 0.3s ease}

.gears-conteiner a      
{margin: 2px 10px;
font-size: 17px;}


/* FOOTER */
footer 
{display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 2;}
.grid-footer-title
{font-size: 22px;}

.cuadrante-1 
{grid-column: 1/2;
grid-row: 1/2;
margin-left: 15px;}
.cuadrante-1 img 
{width: 27px;
padding: 10px 0;}
.footer-icons-1
{font-size: 22px;}
footer span 
{font-size: 21px;}


.cuadrante-2 
{grid-column: 2/3;
grid-row: 1/2;}
.footer-icons-2
{padding: 3px;}


.cuadrante-3
{grid-column: 3/4;
grid-row: 1/2;}
.footer-icons-3
{padding: 3px;}

.cuadrante-4
{grid-column: 4/5;
grid-row: 1/2;
display: flex;
align-items: center;
justify-content: center;}
.grid-footer-items-4 img 
{width: 100px;}

.cuadrante-5
{grid-column: 1/5;
grid-row: 3/4;}
.footer-icons-5-copyright
{font-size: 15px;}
.footer-icons-5-powered
{font-size: 15px;}
.cuadrante-5 div a img
{width: 27px;}
}