@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
/* VARIABLES */
$color-green-banner: #3CDB38;
$color-purple-banner: #87188A;
$color-white-banner: #EEEEEE;

@mixin banners ($bg, $color ,$align, $margin, $padding, $decoration, $fontfamily, $fontweight, $fontstyle, $fontsize)
{background-color: $bg;
color: $color;
text-align: $align;
margin: $margin;
padding: $padding;
text-decoration: $decoration;
font-family: $fontfamily;
font-weight: $fontweight;
font-style: $fontstyle;
font-size: $fontsize;}

/* BANNER DE ENTRADA: FREE SHEEPING... */
.banner-1 
{@include banners($color-green-banner, black, center, 0, 1px 0, none, "Titillium Web" sans-serif, 400, normal, 15px);
}

/* BANNER DE ENTRADA A LAS MARCAS: IMPROVE YOUR... */
.banner-2 
{@include banners($color-purple-banner, white, center, 0, 1px 0, none, "Titillium Web" sans-serif, 400, normal, 15px);
}

/* BANNER DE ENTRADA A LOS PERIFÉRICOS: CHECK THIS... */
.banner-3 
{@include banners($color-white-banner, #040450, center, 0, 1px 0, none, "Titillium Web" sans-serif, 400, normal, 15px);
}


