/* MIXIN DE LINKS */
@mixin links ($color, $content, $align, $margin, $family, $weight, $style, $decoration, $display, $size, $transition)
{color: $color;
justify-content: $content;
text-align: $align;
margin: $margin;
font-family: $family;
font-weight: $weight;
font-style: $style;
text-decoration: $decoration;
display: $display;
font-size: $size;
transition: $transition}
/* COLOR HOVER */
$color-green-hovers: #44D62C;


/* SECCIÓN DE PERIFÉRICOS */
.gears-conteiner 
{
background-color: #00002C;
display: grid;
grid-template-columns: repeat(7,auto);
grid-template-rows: repeat(7, auto);
justify-content: center;
padding: 20px 1px;

/* KEYBOARDS */
    .gears-item-img-1
    {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: auto;
        a 
        {
        @include links(white, center, center, 2px 2px, "Titillium Web", 300, normal, none, flex, 10px, transform 0.3s ease);

        img 
        {width: 100%;
        height: 35px;
        transition: transform 0.3s ease;}
        img:hover {transform: translateY(-5px)}
        }
    }
    .gears-item-1 
    {grid-column: 1/2;
    grid-row: 2/8;}
    .gears-item-1:hover 
    {color: $color-green-hovers;
    transform: translateY(-5px);}

/* MICES */
    .gears-item-img-2
    {grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
        a 
        {
        @include links(white, center, center, 2px 2px, "Titillium Web", 300, normal, none, flex, 10px, transform 0.3s ease);

        img 
        {width: 100%;
        height: 35px;
        transition: transform 0.3s ease;}
        img:hover {transform: translateY(-5px)}
        }
    }
    .gears-item-2
    {grid-column: 2/3;
    grid-row: 2/8;}
    .gears-item-2:hover 
    {color: $color-green-hovers;
    transform: translateY(-5px);}


/* AUDIO */
    .gears-item-img-3
    {grid-column: 3/4;
        grid-row: 1/2;
        margin: auto;
        a 
        {
        @include links(white, center, center, 2px 2px, "Titillium Web", 300, normal, none, flex, 10px, transform 0.3s ease);

        img 
        {width: 100%;
        height: 35px;
        transition: transform 0.3s ease;}
        img:hover {transform: translateY(-5px)}
        }
    }
    .gears-item-3
    {grid-column: 3/4;
    grid-row: 2/8;}
    .gears-item-3:hover 
    {color: $color-green-hovers;
    transform: translateY(-5px);}


/* MONITORS */
    .gears-item-img-4
    {grid-column: 4/5;
    grid-row: 1/2;
    margin: auto;
        a 
        {
        @include links(white, center, center, 2px 2px, "Titillium Web", 300, normal, none, flex, 10px, transform 0.3s ease);

        img 
        {width: 100%;
        height: 35px;
        transition: transform 0.3s ease;}
        img:hover {transform: translateY(-5px)}
        }
    }
    .gears-item-4
    {grid-column: 4/5;
    grid-row: 2/8;}
    .gears-item-4:hover 
    {color: $color-green-hovers;
    transform: translateY(-5px);}

/* MATS */
    .gears-item-img-5
    {grid-column: 5/6;
    grid-row: 1/2;
    margin: auto;
        a 
        {
        @include links(white, center, center, 2px 2px, "Titillium Web", 300, normal, none, flex, 10px, transform 0.3s ease);

        img 
        {width: 100%;
        height: 35px;
        transition: transform 0.3s ease;}
        img:hover {transform: translateY(-5px)}
        }
    }
    .gears-item-5
    {grid-column: 5/6;
    grid-row: 2/8;}
    .gears-item-5:hover 
    {color: $color-green-hovers;
    transform: translateY(-5px);}


/* CHAIRS */
    .gears-item-img-6
    {grid-column: 6/7;
    grid-row: 1/2;
    margin: auto;
        a 
        {
        @include links(white, center, center, 2px 2px, "Titillium Web", 300, normal, none, flex, 10px, transform 0.3s ease);

        img 
        {width: 100%;
        height: 35px;
        transition: transform 0.3s ease;}
        img:hover {transform: translateY(-5px)}
        }
    }
    .gears-item-6
    {grid-column: 6/7;
    grid-row: 2/8;}
    .gears-item-6:hover 
    {color: $color-green-hovers;
    transform: translateY(-5px);}

/* CONSOLE */
    .gears-item-img-7
    {grid-column: 7/8;
    grid-row: 1/2;
    margin: auto;

        img 
        {width: 100%;
        height: 35px;
        transition: transform 0.3s ease;}
        img:hover {transform: translateY(-5px)}
    }
        a 
        {@include links(white, center, center, 2px 2px, "Titillium Web", 300, normal, none, flex, 10px, transform 0.3s ease);}
    .gears-item-7
    {grid-column: 7/8;
    grid-row: 2/8;}
    .gears-item-7:hover 
    {color: $color-green-hovers;
    transform: translateY(-5px);}

}

