// REDRAGON INTERFAZ

/* VARIABLES */
$color-white-slogans: #FFFFFF;
$color-red-title: #E60012;
$color-red-hover: #FF0E0D;

/* TEAMREDRAGON.™ */
.redragon-start
{
h1 {color: $color-red-title;
font-size: 50px;
text-align: center;}
h2
{font-family: "Titillium Web", sans-serif;
font-weight: 200;
font-style: normal;
font-size: 25px;
color: $color-white-slogans;
text-align: center;
}
}


// PRODUCTOS
.redragon-cards-container 
{
display: inline-flex;
flex-wrap: wrap; 
justify-content: flex-start;
width: 100%;
margin: 0 auto;
padding: 0;
gap: 2px;

/* SHIVA K512 */
.product-card-1
{
flex: 0 0 250px;
margin: 1px 10px;
border-radius: 15px;
background-color: #111111;
padding-bottom: 10px;
text-align: center;

img 
{width: 94%;
height: 250px;}

h2 
{color: $color-red-title;
font-size: 30px;
text-align: center;}

p 
{color: white;
font-size: 17px;
margin-left: 5px;
text-align: left;}  

.price-button
{display: flex;
justify-content: space-around;
span 
{color: white;
font-size: 25px;}

button 
{background-color: $color-red-title;
color: black;
font-size: 20px;
padding: 0 2px;
text-align: right;
border-radius: 5px;
border: solid;
font-weight: 600;
cursor: pointer;}
button:hover {background-color: $color-red-hover;}
}
}
.product-card-1:hover {background-color: $color-darkgrey-products;}

/* HORUS K618 */
.product-card-2
{
flex: 0 0 250px;
margin: 1px 10px;
border-radius: 15px;
background-color: #111111;
padding-bottom: 10px;
text-align: center;

img 
{width: 94%;
height: 250px;}

h2 
{color: $color-red-title;
font-size: 30px;
text-align: center;}

p 
{color: white;
font-size: 17px;
margin-left: 5px;
text-align: left;}  

.price-button
{display: flex;
justify-content: space-around;
span 
{color: white;
font-size: 25px;}

button 
{background-color: $color-red-title;
color: black;
font-size: 20px;
padding: 0 2px;
text-align: right;
border-radius: 5px;
border: solid;
font-weight: 600;
cursor: pointer;}
button:hover {background-color: $color-red-hover;}
}
}
.product-card-2:hover {background-color: $color-darkgrey-products;}

/* STORM PRO */
.product-card-3
{
flex: 0 0 250px;
margin: 1px 10px;
border-radius: 15px;
background-color: #111111;
padding-bottom: 10px;
text-align: center;

img 
{width: 200;
height: 250px;
padding: 20px 0;}

h2 
{color: $color-red-title;
font-size: 30px;
text-align: center;}

p 
{color: white;
font-size: 17px;
margin-left: 5px;
text-align: left;}  

.price-button
{display: flex;
justify-content: space-around;
span 
{color: white;
font-size: 25px;}

button 
{background-color: $color-red-title;
color: black;
font-size: 20px;
padding: 0 2px;
text-align: right;
border-radius: 5px;
border: solid;
font-weight: 600;
cursor: pointer;}
button:hover {background-color: $color-red-hover;}
}
}
.product-card-3:hover {background-color: $color-darkgrey-products;}

/* VAMPIRE M720 */
.product-card-4
{
flex: 0 0 250px;
margin: 1px 10px;
border-radius: 15px;
background-color: #111111;
padding-bottom: 10px;
text-align: center;

img 
{width: 200;
height: 250px;
padding: 20px 0;}

h2 
{color: $color-red-title;
font-size: 30px;
text-align: center;}

p 
{color: white;
font-size: 17px;
margin-left: 5px;
text-align: left;}  

.price-button
{display: flex;
justify-content: space-around;
span 
{color: white;
font-size: 25px;}

button 
{background-color: $color-red-title;
color: black;
font-size: 20px;
padding: 0 2px;
text-align: right;
border-radius: 5px;
border: solid;
font-weight: 600;
cursor: pointer;}
button:hover {background-color: $color-red-hover;}
}
}
.product-card-4:hover {background-color: $color-darkgrey-products;}

/* H510 ZEUS-X */
.product-card-5
{
flex: 0 0 250px;
margin: 1px 10px;
border-radius: 15px;
background-color: #111111;
padding-bottom: 10px;
text-align: center;

img 
{width: 200;
height: 250px;
padding: 20px 0;}

h2 
{color: $color-red-title;
font-size: 30px;
text-align: center;}

p 
{color: white;
font-size: 17px;
margin-left: 5px;
text-align: left;}  

.price-button
{display: flex;
justify-content: space-around;
span 
{color: white;
font-size: 25px;}

button 
{background-color: $color-red-title;
color: black;
font-size: 20px;
padding: 0 2px;
text-align: right;
border-radius: 5px;
border: solid;
font-weight: 600;
cursor: pointer;}
button:hover {background-color: $color-red-hover;}
}
}
.product-card-5:hover {background-color: $color-darkgrey-products;}

/* GS570 */
.product-card-6
{
flex: 0 0 250px;
margin: 1px 10px;
border-radius: 15px;
background-color: #111111;
padding-bottom: 10px;
text-align: center;

img 
{width: 200;
height: 250px;
padding: 20px 0;}

h2 
{color: $color-red-title;
font-size: 30px;
text-align: center;}

p 
{color: white;
font-size: 17px;
margin-left: 5px;
text-align: left;}  

.price-button
{display: flex;
justify-content: space-around;
span 
{color: white;
font-size: 25px;}

button 
{background-color: $color-red-title;
color: black;
font-size: 20px;
padding: 0 2px;
text-align: right;
border-radius: 5px;
border: solid;
font-weight: 600;
cursor: pointer;}
button:hover {background-color: $color-red-hover;}
}
}
.product-card-6:hover {background-color: $color-darkgrey-products;}

/* JADE */
.product-card-7
{
flex: 0 0 250px;
margin: 1px 10px;
border-radius: 15px;
background-color: #111111;
padding-bottom: 10px;
text-align: center;

img 
{width: 200;
height: 250px;
padding: 20px 0;}

h2 
{color: $color-red-title;
font-size: 30px;
text-align: center;}

p 
{color: white;
font-size: 17px;
margin-left: 5px;
text-align: left;}  

.price-button
{display: flex;
justify-content: space-around;
span 
{color: white;
font-size: 25px;}

button 
{background-color: $color-red-title;
color: black;
font-size: 20px;
padding: 0 2px;
text-align: right;
border-radius: 5px;
border: solid;
font-weight: 600;
cursor: pointer;}
button:hover {background-color: $color-red-hover;}
}
}
.product-card-7:hover {background-color: $color-darkgrey-products;}

/* P012 */
.product-card-8
{
flex: 0 0 250px;
margin: 1px 10px;
border-radius: 15px;
background-color: #111111;
padding-bottom: 10px;
text-align: center;

img 
{width: 200;
height: 250px;
padding: 20px 0;}

h2 
{color: $color-red-title;
font-size: 30px;
text-align: center;}

p 
{color: white;
font-size: 17px;
margin-left: 5px;
text-align: left;}  

.price-button
{display: flex;
justify-content: space-around;
span 
{color: white;
font-size: 25px;}

button 
{background-color: $color-red-title;
color: black;
font-size: 20px;
padding: 0 2px;
text-align: right;
border-radius: 5px;
border: solid;
font-weight: 600;
cursor: pointer;}
button:hover {background-color: $color-red-hover;}
}
}
.product-card-8:hover {background-color: $color-darkgrey-products;}

/* CAPRICORNUS C502 */
.product-card-9
{
flex: 0 0 250px;
margin: 1px 10px;
border-radius: 15px;
background-color: #111111;
padding-bottom: 10px;
text-align: center;

img 
{width: 200;
height: 250px;
padding: 20px 0;}

h2 
{color: $color-red-title;
font-size: 30px;
text-align: center;}

p 
{color: white;
font-size: 17px;
margin-left: 5px;
text-align: left;}  

.price-button
{display: flex;
justify-content: space-around;
span 
{color: white;
font-size: 25px;}

button 
{background-color: $color-red-title;
color: black;
font-size: 20px;
padding: 0 2px;
text-align: right;
border-radius: 5px;
border: solid;
font-weight: 600;
cursor: pointer;}
button:hover {background-color: $color-red-hover;}
}
}
.product-card-9:hover {background-color: $color-darkgrey-products;}
}

/* SLOGAN & YOUTUBE VIDEO */
.redragon-footer 
{
h2 
{font-family: "Titillium Web", sans-serif;
font-weight: 200;
font-style: normal;
font-size: 30px;
color: $color-white-slogans;
text-align: center;
margin-top: 15px;}

.redragon-youtube  
{margin: 0; 
text-align: center;
    iframe  
    {width: 100%; 
    height: 315px;}
}

.redragon-end
{text-align: center;
    margin: 0;
    img 
    {width: 250px;
    padding-bottom: 10px;}
}
}